html {
  height: 100%;
  box-sizing: border-box;
}

body {
    text-align:center;
    background-color: #ffffff;
    color: #24292e;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

small {
    color: #999999;
}

a:link {
    color: #24292e;
    text-decoration: none;
}

a:visited {
    color: #24292e;
    text-decoration: none;
}

a:hover {
    color: #24292e;
    text-decoration: none;
}

a:active {
    color: #24292e;
    text-decoration: none;
}

a svg:hover path {
    fill: #24292e;
    text-decoration: none;
}

.icons svg{
    fill: #999999;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
